<div id="<%= dom_id friend %>">

  <%= full_info(friend) %>

  <p>
    <strong>Name:</strong>
    <%= friend.name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= friend.age %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= friend.birthday %>
  </p>

</div>
